.flex-container {
    display: flex;
    align-items: center;
  }
  
  .flex-grow {
    flex-grow: 1;
    margin-right: 0px; /* Adjust as needed */
  }
  
  button {
    margin-left: 1%; /* Adjust if more space is needed between button and select */
  }
  