<div class="row">
    <div class="form-group col-lg-4">
        <label for="provider">Providers<span class="text-danger">*</span></label>

        <angular2-multiselect [data]="topLevelProviderSelectList" [(ngModel)]="appointmentSearchViewModel.providers"
            [settings]="providerSettings" (onSelect)="onProvidersSelect()" (onDeSelect)="onProvidersDeSelect()"
            (onSelectAll)="onProvidersSelectAll()" (onDeSelectAll)="onProvidersDeSelectAll($event)">
        </angular2-multiselect>
    </div>
    <div class="form-group col-lg-4 col-md-3">
        <label for="">Locations<span class="text-danger">*</span></label>
        <angular2-multiselect  [data]="topLevelLocationSelectList" [(ngModel)]="appointmentSearchViewModel.locations"
            [settings]="locationsSettings" (onSelect)="onLocationsSelect()" (onDeSelect)="onLocationsDeSelect()"
            (onSelectAll)="onLocationsSelectAll()" (onDeSelectAll)="onLocationsDeSelectAll($event)">
        </angular2-multiselect>
    </div>
</div>
<div class="row" *ngIf="appointmentSearchViewModel.providers.length>0 && appointmentSearchViewModel.locations.length>0">
    <div class="col-lg-12">
        <button class="btn btn-outline btn-primary btn-sm pull-right mb-10" (click)="reload()"><i
                class="fa fa-refresh"></i> Refresh</button>
        <div class="clearfix"></div>
        <!-- Calender Header -->
        <mwl-demo-utils-calendar-header [(view)]="view" [(viewDate)]="viewDate" (viewDateChange)="fetchEvents()"
            (viewChange)="fetchEvents()">
        </mwl-demo-utils-calendar-header>
        <!-- Calender Header -->
        <!-- Calender Views -->
        <div [ngSwitch]="view">
            <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
                [excludeDays]="excludeDays" (dayClicked)="dayClicked($event.day)"
                (eventClicked)="handleEvent('clicked',$event.event)">
            </mwl-calendar-month-view>
            <mwl-calendar-week-view     [refresh]="refresh.asObservable()"
                *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events"
                [hourSegments]="4" [excludeDays]="excludeDays" (eventClicked)="handleEvent('clicked',$event.event)"
                (dayHeaderClicked)="clickedDate=$event.day.date" (hourSegmentClicked)="hourSegmentClicked($event)"
                [dayEndHour]="dayEndHour" [dayStartHour]="dayStartHour">
            </mwl-calendar-week-view>
            <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events"
                [hourSegments]="4" (eventClicked)="handleEvent('clicked',$event.event)"
                (hourSegmentClicked)="hourSegmentClicked($event)" [dayEndHour]="dayEndHour"
                [dayStartHour]="dayStartHour">
            </mwl-calendar-day-view>
        </div>
        <!-- Calender Views -->
    </div>
</div>
<!-- <div class="modal fade" confirmationAlert  tabindex="-1" role="dialog" aria-labelledby="dialog-nested-name">
    <div class="modal-dialog" style="margin-left: auto; margin-right: 0;">
      <div class="modal-content"> -->
<!-- Existing Appointment Confirmation Alert

        <div class="modal inmodal "
 bsModal #confirmationAlert="bs-modal"  tabindex="-1" role="dialog" aria-labelledby="dialog-nested-name"  (onShown)="onShownConfirmationAlertModal($event)" (onHidden)="onHiddenConfirmationAlertModal($event)">
            <div class="modal-dialog modal-md col-12 w-100"  style="margin-left: auto; margin-right: 0; width:70%; height: 100%;">
              <div class="modal-content">
        <div class="modal-header" style="padding-top: 15px; padding-bottom: 15px; display: flex; justify-content: space-between; align-items: center;">
          <h2 class="modal-title bold" style="margin: 0; flex: 1; text-align: center;">Confirmation</h2>
          <button type="button"  class="close" data-dismiss="modal" style="margin-left: auto;" (click)="confirmationAlert.hide()">
              <span aria-hidden="true">&times;</span>
              <span class="sr-only">Close</span>
          </button>
        </div>
   
        <div class="modal-body" style="padding: 0px 10px 20px 10px; max-height: 500px; overflow-y: auto;border-width: 1px ;border-radius: 1px; border-color: red;">
            <label class="modal-title bold" style="margin: 0; flex: 1; text-align: center; border: 1px solid #ccc; background-color: #f1f1f1; padding: 10px; display: block;">
                An existing appointment with the following details is already scheduled for this patient, do you still want to schedule another appointment?
              </label>

          <table class="table table-bordered table-responsive" style="width: 100%; border-collapse: collapse;">
            
            <thead>
              <tr>
                <th style="text-align: left; padding: 8px; border-bottom: 1px solid #ddd;">Sr No.</th>
                <th style="text-align: left; padding: 8px; border-bottom: 1px solid #ddd;">Provider</th>
                <th style="text-align: left; padding: 8px; border-bottom: 1px solid #ddd;">Location</th>
                <th style="text-align: left; padding: 8px; border-bottom: 1px solid #ddd;">Date</th>
                <th style="text-align: left; padding: 8px; border-bottom: 1px solid #ddd;">Time</th>
                <th style="text-align: left; padding: 8px; border-bottom: 1px solid #ddd;">Visit Reason</th>
                <th style="text-align: left; padding: 8px; border-bottom: 1px solid #ddd;">Status</th>
                <th style="text-align: left; padding: 8px; border-bottom: 1px solid #ddd;">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of existingAppt; let i = index">
                <td style="padding: 8px; border-bottom: 1px solid #ddd;">{{ i + 1 }}</td>
                <td style="padding: 8px; border-bottom: 1px solid #ddd;">{{ item.ProviderName }}</td>
                <td style="padding: 8px; border-bottom: 1px solid #ddd;">{{ item.Location_Name }}</td>
                <td style="padding: 8px; border-bottom: 1px solid #ddd;">{{ formatDate(item.appointment_Date_Time) }}</td>
                <td style="padding: 8px; border-bottom: 1px solid #ddd;">{{ item.Time_From }}</td>
                <td style="padding: 8px; border-bottom: 1px solid #ddd;">{{ item.Reason_Description }}</td>
                <td style="padding: 8px; border-bottom: 1px solid #ddd;">{{ item.Appointment_Status_Description }}</td>
                <td style="padding: 8px; border-bottom: 1px solid #ddd;">          
                    <button type=" button" class="btn btn-primary btn-sm" (click)="EditAppointmentDetails(i)">Edit</button>
              </td>
              </tr>
            </tbody>
          </table>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-sm" (click)="confirmationAlert.hide()">Cancel</button>
            <button type=" button" (click)="submit('Confirm')" class="btn btn-primary btn-sm">Save</button>
        </div>
        </div>
      </div>
    </div>
  </div> -->
<!-- bs Modal to modify the event -->
<div class="modal fade " bsModal #bsModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="dialog-nested-name"
    (onShown)="onShown()">
    <div class="modal-dialog modal-lg custom-top-modal">
        <div class="modal-content" style="position: relative;">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="onModalClose()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title">
                    {{appointmentModel?.action=='edit'?'Update an Appointment':appointmentModel?.action=='add'?'Book an
                    Appointment':'Appointment Details'}}
                </h3>
            </div>
            <div class="modal-body">
                <div [ngSwitch]="true">
                    <ng-container *ngSwitchCase="appointmentModel?.action==='clicked'">
                        <div class="row">
                            <div class="col-lg-12">
                                <a title="Go to Demographics"
                                    (click)="onPatientClick({name:appointmentModel?.event.meta.patientName,account:appointmentModel?.event.meta.patientAccount})">
                                    <h2 class="text-success">{{appointmentModel?.event.meta.patientName}}
                                        <small>{{appointmentModel?.event.meta.gender==1?'Male':'Female'}} -
                                            {{appointmentModel?.event.meta.dob | date:'MM/dd/yyyy'}}</small>
                                    </h2>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <span
                                    class="text-muted">{{GetFormattedDateAndTime(appointmentModel?.event.meta.appointmentDateTime,appointmentModel?.event.meta.timeFrom)
                                    | date:'MM/dd/yyyy h:mm a'}}&nbsp;{{appointmentModel?.event.meta.duration}}
                                    min
                                </span>
                                <p class="text-success"><span class="fa fa-circle"
                                        [ngStyle]="{'color':appointmentModel?.event.color.primary}"></span>&nbsp;{{appointmentModel?.event.meta.reasonDescription
                                    | titlecase}}
                                </p>
                            </div>
                            <div class="col-lg-6">
                                <h4 class="list-group-item-heading">Patient Due</h4>
                                <p class="text-success">${{appointmentModel?.event.meta.AmountDue === null ||
                                    appointmentModel?.event.meta.AmountDue === 0 ? 0
                                    :appointmentModel?.event.meta.AmountDue}}
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <h4 class="list-group-item-heading">Home Phone</h4>
                                <p class="text-success">{{appointmentModel?.event.meta.home_Phone}}
                                </p>
                            </div>
                            <div class="col-lg-6">
                                <h4 class="list-group-item-heading">Cell Phone</h4>
                                <p class="text-success">{{appointmentModel?.event.meta.cell_Phone}}
                                </p>
                            </div>
                            <div class="col-lg-6">
                                <h4 class="list-group-item-heading">Appointment Status</h4>
                                <p class="text-success">{{appointmentModel?.event.meta.appointmentStatus | titlecase}}
                                </p>
                                <button class="btn btn-sm btn-default" style="color:white"
                                    [style.backgroundColor]='appointmentModel?.event.meta.eligibilityColor'
                                    (click)="checkEligibility(appointmentModel?.event.meta.appointmentId,appointmentModel?.event)">
                                    Eligibility</button>
                            </div>
                            <div class="col-lg-6">
                                <h4>Location</h4>
                                <!-- <p class="text-success">{{appointmentModel?.event.meta.location_name | titlecase}}</p> -->
                                <p class="text-success">{{appointmentModel?.event.meta.location_addres}}
                                    <!-- {{appointmentModel?.event.meta.location_city}},
                                    {{appointmentModel?.event.meta.location_state}} -->
                                    {{appointmentModel?.event.meta.location_zip}}
                                </p>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12">
                                <h4>Comments</h4>
                                <p class="text-success text-justify">
                                    {{appointmentModel?.event.meta.notes}}
                                </p>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="appointmentModel?.action==='add' || appointmentModel?.action==='edit'">
                        <form [formGroup]="eventForm">
                            <div class="row">
                                <div class="form-group col-lg-4">
                                    <label for="provider">Provider<span class="text-danger">*</span></label>
                                    <select id="provider" class="form-control" formControlName="provider"
                                        (change)="onSelect($event)" [(ngModel)]="appointmentModel.ProviderCode">
                                        <option [ngValue]="null" disabled>Select Provider</option>
                                        <option *ngFor="let provider of providerSelectList" [value]="provider.Id">
                                            {{provider.Name}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-4 col-md-4">
                                    <label for="location">Location<span class="text-danger">*</span></label>
                                    <select id="location" class="form-control" formControlName="location"
                                        (change)="onSelect($event)" [(ngModel)]="appointmentModel.LocationCode">
                                        <option [ngValue]="null" disabled>Select Location</option>
                                        <option *ngFor="let location of locationSelectList" [value]="location.Id">
                                            {{location.Name}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-4 col-md-6" [ngClass]="{'has-error':(patient.invalid)}">
                                    <label for="patient">Patient<span class="text-danger">*</span></label>
                                    <ngx-select [items]="patientSelectList" (typed)="onTypePatient($event)"
                                        optionValueField="Id" optionTextField="Name" [allowClear]="true"
                                        [formControl]="patient" [(ngModel)]="appointmentModel.PatientAccount"
                                        placeholder="Search Patients"
                                        (select)="onSelectPatient(appointmentModel.PatientAccount)">
                                    </ngx-select>
                                </div>
                                <div class="form-group col-lg-4 col-md-4"
                                    title="Please choose Provider and Location first.">
                                    <label for="reason">Visit Reason<span class="text-danger">*</span></label>
                                    <select id="reason" class="form-control" formControlName="reason"
                                        [attr.disabled]="(appointmentModel.ProviderCode==null || appointmentModel.ProviderCode==undefined || appointmentModel.LocationCode==null || appointmentModel.LocationCode==undefined)?'':null"
                                        [(ngModel)]="appointmentModel.ReasonId">
                                        <option [ngValue]="null" disabled>Select Reason</option>
                                        <option *ngFor="let reason of reasonsSelectList" [value]="reason.ReasonId">
                                            {{reason.Description}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-4 col-md-4">
                                    <i class="fa fa-exclamation-triangle text-danger" aria-hidden="true"
                                        *ngIf="!isOfficeTiming || isAlreadyAppointed || isBlockedTimming"
                                        [popover]="myPopover" style="cursor: pointer;"></i>
                                    <popover-content #myPopover [title]="errorMessageTitle" placement="left"
                                        [animation]="true" [closeOnClickOutside]="true">
                                        <div [innerHtml]="errorMessage"></div>
                                    </popover-content>
                                    <label for="date">When<span class="text-danger">*</span></label>
                                    <my-date-picker id="date" [options]="myDatePickerOptions"
                                        (keyup)="dateMaskGS($event)" [placeholder]="placeholder"
                                        (dateChanged)="onDateTimeChanged($event,'date')" formControlName="date">
                                    </my-date-picker>
                                </div>
                                <div class="form-group col-lg-2 col-md-2" title="Please select appointment date first.">
                                    <label for="start">Start From<span class="text-danger">*</span></label>
                                    <input type="time" class="form-control" id="start" formControlName="timeFrom"
                                    required (input)="onDateTimeChanged($event,'time')"
                                    [(ngModel)]="appointmentModel.TimeFrom" min="08:00:00" max="20:00:00">
                                    
                                  </div>
                                  
                                
                                <div class="form-group col-lg-2 col-md-2">
                                    <label for="duration">Duration</label>
                                    <select class="form-control" formControlName="duration" id="duration"
                                        [(ngModel)]="appointmentModel.Duration" (ngModelChange)="onDurationChange()">
                                        <option value="15">15</option>
                                        <option value="30">30</option>
                                        <option value="45">45</option>
                                        <option value="60">60</option>
                                    </select>
                                    <!-- <input id="duration" class="form-control" formControlName="duration" type="number"
                                        [(ngModel)]="appointmentModel.Duration" (ngModelChange)="onDurationChange()" /> -->
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group col-lg-4 col-md-4">
                                    <label for="status">Status<span class="text-danger">*</span></label>
                                    <select id="status" class="form-control" formControlName="status"
                                        [(ngModel)]="appointmentModel.StatusId">
                                        <option [ngValue]="null" disabled>Select Status</option>
                                        <option *ngFor="let status of appointmentModel.Statuses" [value]="status.Id">
                                            {{status.Name}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-8 col-md-8">
                                    <label for="title" class="control-label">Comments</label>
                                    <textarea id="title" class="form-control" maxlength="500" rows="5"
                                        placeholder="Comments" formControlName="notes"
                                        [(ngModel)]="appointmentModel.Notes"
                                        style="height: auto !important;"></textarea>
                                </div>
                            </div>
                        </form>
                    </ng-container>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm" (click)="onModalClose()">Close</button>
                <button type=" button" class="btn btn-primary btn-sm"
                    [disabled]="!eventForm.valid || !patient.valid || !isOfficeTiming || isBlockedTimming"
                    (click)="submit(appointmentModel?.action === 'edit' ? 'Update' : 'Save')" data-toggle="modal"
                    data-target="#messagemodal"
                    *ngIf="appointmentModel?.action!=='clicked'">{{appointmentModel?.action=='edit'?'Update':
                    'Save'}}</button>
                <!-- <button type=" button" class="btn btn-primary btn-sm"
                    (click)="submit('Save')" *ngIf="appointmentModel?.action!=='clicked'">Save</button> -->

            </div>
        </div>
    </div>
</div>






<div *ngIf="ismodelopen" data-backdrop="static" data-keyboard="false" class="modal inmodal" id="messagemodal"
    style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); display: flex; align-items: center; justify-content: center; z-index: 1050;">
    <div class="modal-dialog modal-md" style="width: auto; position: fixed; min-width: 550px; max-height: 650px; ">
        <div class="modal-content">
            <div class="modal-header"
                style="padding-top: 10px; padding-bottom: 15px; display: flex; justify-content: space-between; align-items: center;">
                <h2 class="modal-title bold" style="margin: 0; flex: 1; text-align: center;">Confirmation</h2>
                <button type="button" class="close" data-dismiss="modal" style="margin-left: auto;margin-bottom: 11px;"
                    (click)="closeMessageModal()">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
            </div>
            <label class="modal-title"
                style="font-size: 13px; flex: 1; text-align: center; border: 1px solid #ccc; background-color: #f1f1f1; padding: 10px; display: block;">
                An existing appointment with the following details is already scheduled for this patient, do you still
                want to schedule another appointment?
            </label>

            <div class="modal-body" style="padding: 0px 0px 0px 0px; max-height: 400px; overflow-y: auto;">

                <table class="table table-bordered table-responsive" style="width: 100%; border-collapse: collapse;">

                    <thead>
                        <tr>
                            <th style="text-align: center; padding: 8px; border-bottom: 1px solid #ddd;">Appointment
                            </th>
                            <th style="text-align: center; padding: 8px; border-bottom: 1px solid #ddd;">Provider</th>
                            <th style="text-align: center; padding: 8px; border-bottom: 1px solid #ddd;">Location</th>
                            <th style="text-align: center; padding: 8px; border-bottom: 1px solid #ddd;">Date</th>
                            <th style="text-align: center; padding: 8px; border-bottom: 1px solid #ddd;">Time</th>
                            <th style="text-align: center; padding: 8px; border-bottom: 1px solid #ddd;">Visit Reason
                            </th>
                            <th style="text-align: center; padding: 8px; border-bottom: 1px solid #ddd;">Status</th>
                            <th style="text-align: center; padding: 8px; border-bottom: 1px solid #ddd;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of existingAppt; let i = index">
                            <td
                                style="text-align: center;padding: 12px 12px 10px 10px;  border-bottom: 1px solid #ddd;">
                                {{ i + 1 }}</td>
                            <td style="text-align: center;padding: 12px 12px 10px 10px; border-bottom: 1px solid #ddd;">
                                {{ item.ProviderName }}</td>
                            <td
                                style="text-align: center;padding: 12px 12px 10px 10px;  border-bottom: 1px solid #ddd;">
                                {{ item.Location_Name }}</td>
                            <td
                                style="text-align: center;padding: 12px 12px 10px 10px;  border-bottom: 1px solid #ddd;">
                                {{ formatDate(item.appointment_Date_Time) }}</td>
                            <td
                                style="text-align: center;padding: 12px 12px 10px 10px;  border-bottom: 1px solid #ddd;">
                                {{ item.Time_From }}</td>
                            <td
                                style="text-align: center;padding: 12px 12px 10px 10px;  border-bottom: 1px solid #ddd;">
                                {{ item.Reason_Description }}</td>
                            <td
                                style="text-align: center;padding: 12px 12px 10px 10px;  border-bottom: 1px solid #ddd;">
                                {{ item.Appointment_Status_Description }}</td>
                            <td style="text-align: center;padding: 8px; border-bottom: 1px solid #ddd;">
                                <button type=" button" class="btn btn-sm"
                                    (click)="EditAppointmentDetails(i)">Edit</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm" (click)="closeMessageModal()">Cancel</button>
                <button type=" button" (click)="submit('Confirm')" class="btn btn-primary btn-sm">Yes</button>
            </div>
        </div>
    </div>
</div>