<form [formGroup]="searchForm">
  <div class="row">
    <div class="form-group col-lg-2">
      <label for="" class="control-label col-form-label">Select</label>
      <select class="form-control">
        <option value="dos">DOS</option>
      </select>
    </div>
    <div class="form-group col-lg-2">
      <label class="control-label col-form-label">From</label>
      <my-date-picker [options]="myDatePickerOptions" (keyup)="dateMaskGS($event)" [placeholder]="'MM/DD/YYYY'"
        (dateChanged)="onDateChange($event,'dosFrom')" formControlName="dosFrom">
      </my-date-picker>
    </div>
    <div class="form-group col-lg-2">
      <label for="" class="control-label col-form-label">To</label>
      <my-date-picker [options]="myDatePickerOptions" (keyup)="dateMaskGS($event)" [placeholder]="'MM/DD/YYYY'"
        (dateChanged)="onDateChange($event,'dosTo')" formControlName="dosTo">
      </my-date-picker>
    </div>
    <div class="form-group col-lg-3">
      <label for="" class="control-label col-form-label">Patient</label>
      <angular2-multiselect [data]="patientSelectList" [(ngModel)]="selectedPatients" [settings]="patientSettings"
        formControlName="patientAccount">
        <c-search>
          <ng-template>
            <input type="text" (input)="onSearchPatients($event.target.value)" placeholder="Search Patients" #searchBox
              style="border: none;width: 100%; height: 100%;outline: none;" />
          </ng-template>
        </c-search>
        <c-item>
          <ng-template let-item="item">
            <label style="color: #333;width: 150px;">{{item.Name}}</label>
          </ng-template>
        </c-item>
      </angular2-multiselect>
    </div>
    <div class="form-group col-lg-3">
      <label for="" class="control-label col-form-label">Provider</label>
      <angular2-multiselect [data]="providerSelectList" [(ngModel)]="selectedProviders" [settings]="providerSettings"
        formControlName="provider">
      </angular2-multiselect>
    </div>
  </div>
  <div class="row">
    
    <form [formGroup]="claimsForm1">
      <div class="form-group col-lg-2">
        <label for="" class="control-label col-form-label">Billed To</label>
        <select class="form-control" formControlName="billedTo" >
          <option value="P">Primary</option>
          <option value="S">Secondary</option>
        </select>
      </div>
    </form>
    
    <form [formGroup]="claimsForm">
      <div class="form-group col-lg-2">
        <label for="" class="control-label col-form-label">Type</label>
        <select class="form-control" formControlName="type" (change)="onBillingTypeChange($event.target.value)">
          <!-- <option *ngIf = "BillingType=='all'"   [value]="'all'">All</option> -->
          <option *ngIf = "BillingType=='P' || BillingType=='all'"  [value]="'professional'">Professional</option>
          <option *ngIf = "BillingType=='I' || BillingType=='all'" [value]="'institutional'">Institutional</option>
        </select>
      </div>
    </form>
    <div class="form-group col-lg-2">
      <label for="" class="control-label col-form-label">Status</label>
      <select class="form-control" formControlName="status" [(ngModel)]="claimsSearch.status" disabled>
        <option [value]="'unprocessed'" [selected]="true">Unprocessed</option>
      </select>
    </div>
    <div class="form-group col-lg-3">
      <label for="" class="control-label col-form-label">Insurance</label>
      <angular2-multiselect [data]="insuranceSelectList" [(ngModel)]="selectedInsurances" [settings]="insuranceSettings"
        formControlName="insurance">
        <c-search>
          <ng-template>
            <input type="text" (input)="onSearchInsurances($event.target.value)" placeholder="Search Insurances"
              #searchBox style="border: none;width: 100%; height: 100%;outline: none;" />
          </ng-template>
        </c-search>
        <c-item>
          <ng-template let-item="item">
            <label style="color: #333;width: 150px;">{{item.Name}}</label>
          </ng-template>
        </c-item>
      </angular2-multiselect>
    </div>
    <div class="form-group col-lg-3">
      <label for="" class="control-label col-form-label">Location</label>
      <angular2-multiselect [data]="locationSelectList" [(ngModel)]="selectedLocations" [settings]="locationsSettings"
        formControlName="location">
      </angular2-multiselect>
    </div>
    <div class="form-group col-lg-2">
      <label></label>
      <div class="checkbox checkbox-primary">
        <input id="isEmployee" type="checkbox" formControlName="icd9" [(ngModel)]="claimsSearch.icd9">
        <label for="isEmployee">
          ICD-9 Claim
        </label>
      </div>
    </div>
  </div>
  <div class="row mb-10">
    <div class="col-lg-3 pull-right">
      <button type="submit" class="btn btn-sm btn-primary pull-right" [disabled]="!searchForm.valid"
        (click)="onSearch()">Search</button>
      <button type="reset" class="btn btn-sm btn-white pull-right ml-2" (click)="clearForm()">Clear</button>
    </div>
  </div>
</form>


<div class="col-lg-12" style="border: none;margin-left: -15px;width: 102.56%;">
  <div class="panel panel-success">
    <div class="panel-heading">
      Batch Detail
    </div>
    <div class="panel-body">
      <div class="row pull-right">
        <div class="col-lg-12">
          <!-- <div class="input-group"> -->
          <!-- <my-date-range-picker [options]="myDateRangePickerOptions" [placeholder]="'MM/DD/YYYY'"
              (dateRangeChanged)="onDateRangeChanged($event)">
            </my-date-range-picker> -->
          <!-- <div class="input-group-btn"> -->
            <button (click)="printBtnClick()" class="btn btn-primary btn-sm" id="printbtn">
              Print</button>
          <button class="btn btn-primary btn-sm" (click)="UploadBatches()"><i class="fa fa-upload"></i>
            Upload</button>
          <!-- </div> -->
          <!-- </div> -->
        </div>

      </div>
      <div class="row mb-10">
        <div class="col-lg-3">
          <label for="" class="control-label col-form-label">Select Provider</label>
          <ngx-select [items]="providerSelectList" optionValueField="Id" optionTextField="Name" [allowClear]="true"
            [formControl]="batchProviderControl" [(ngModel)]="batchDetailsRequest.ProviderCode"
            (select)="onBatchSearchProviderSelect($event)" (remove)="onBatchSearchProviderSelect($event)">
          </ngx-select>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="table-responsive" *ngIf="batchDetailsResponseList && batchDetailsResponseList.length>0">
            <div slimScroll width="auto" height="200px" size="7px">
              <table class="table table-hover table-striped table-bordered display nowrap dataTableBatches"
                width="100%">
                <thead>
                  <tr>
                    <th></th>
                    <th>Batch Id</th>
                    <th align="center">Total</th>
                    <th align="center">Name</th>
                    <th>Submission Type</th>
                    <th>Batch Type</th>
                    <th align="center">Total Batch {{'('+batchDetailsResponseList.length+')'}}</th>
                    <th>Date Created</th>
                    <th>View 837</th>
                    <th>Hold Batch</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let batch of batchDetailsResponseList">
                    <td [style.visibility]="!batch.batch_lock?'visible':'hidden'" ></td>
                    <td align="center">{{batch.batch_id}}</td>
                    <td align="center" width="5%">{{'('+batch.claimsTotal+')'}}</td>
                    <td align="center">{{batch.batch_name}}</td>
                    <td align="center">{{batch.Submission_Type}}</td>
                    <td align="center">{{ batch.batch_claim_type === "P" ? "Primary" : batch.batch_claim_type === "S" ? "Secondary" : batch.batch_claim_type === null ? "Combined" : "" }}</td>
                    <td align="center" width="25%">
                      <ng-container [ngTemplateOutlet]="batch.batch_lock?lock:unlock">
                      </ng-container>
                      <ng-template #lock>
                        <i class="fa fa-lock fa-lg text-gold"></i>
                      </ng-template>
                      <!-- <ng-template #unlock>
                        <i class="fa fa-unlock fa-lg text-gold"
                        (click)="askToLockBatch(batch.batch_id,batch.claimsTotal)"></i>
                      </ng-template> -->
                      <ng-template #unlock>
                        <i class="fa fa-unlock fa-lg text-gold"></i>
                      </ng-template>
                    </td>
                    <td align="center">{{batch.date_created | date:'MM/dd/yyyy hh:mm'}}</td>
                    <td align="center">
                      <i class="fa fa-file-pdf fa-lg text-danger" [ngClass]="{'disabled-icon': batch.Submission_Type === 'Paper'|| batch.Submission_Type === 'paper'}" (click)="['paper', 'Paper'].includes(batch.Submission_Type) ? $event.stopPropagation() : view837(batch)"
 title="View 837"></i>
                    </td>
                    <td align="center">
                      <input type="checkbox"  [(ngModel)]="batch.On_Hold" [disabled]="batch.Submission_Type === 'Paper' || batch.Submission_Type === 'paper'" (change)="onHoldChange(batch)" />
                  </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Claim Details
        <span class="pull-right">Total Claims ({{claimSearchResponse.length}})</span>
        <span class="pull-right">
          <a data-target="#batchModal" data-toggle="modal" (click)="newBatchClick()"><u style="color:white">New
              Batch</u>&nbsp;&nbsp;</a></span>
        <span class="pull-right"><a (click)="onAddInBatchSelect()"
            *ngIf="claimSearchResponse && claimSearchResponse.length>0"><u style="color:white">Add
              in Batch</u>&nbsp; &nbsp;</a></span>
      </div>
      <div class="panel-body">
        <div class="table-responsive" *ngIf="claimSearchResponse && claimSearchResponse.length>0">
          <table class="table table-striped table-hover nowrap table-bordered dataTableClaimsSummary" width="100%">
            <thead>
              <tr>
                <th></th>
                <th></th>
                <th>Claim No</th>
                <th>Insurance ID</th>
                <th>Name</th>
                <th>DOS</th>
                <th>Claim Type</th>
                <th>Billed To</th>
                <th>Payer ID</th>
                <th>Insurance</th>
                <!-- <th>Policy No</th> -->
                <th>Provider</th>
                <th>Facility</th>
                <th>Claim Total</th>
                <th>Created On</th>
                <th>CPT</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let claim of claimSearchResponse;" [ngStyle]="{'color':(claim.Deleted?'red':'')}">
                <td width="5%"></td>
                <td width="5%"></td>
                <td>{{claim.Claim_No}}</td>
                <td>{{claim.Insurance_Id}}</td>
                <td><a [popover]="pSummary" (click)="GetPatientSummary(claim.Patient_Account)">{{claim.Name}}</a>
                  <popover-content #pSummary [title]="patientSummary.LastName+', '+patientSummary.FirstName"
                    placement="right" [animation]="true" [closeOnClickOutside]="true">
                    <p *ngIf="patientSummary && patientSummary.DOB">
                      <i class="fa fa-birthday-cake"> {{patientSummary.DOB | date:'MM/dd/yyyy'}}</i>
                    </p>
                    <p><i class="fa fa-map-marker"></i>
                      {{patientSummary.Address+' '}}{{patientSummary.City+', ' | titlecase}}{{patientSummary.State+' ' | uppercase}}{{patientSummary.ZIP | mask:'00000-0000'}}
                    </p>
                  </popover-content>
                </td>
                <td><a [popover]="cSummary" (click)="GetClaimSummary(claim.Claim_No)">
                    {{claim.dos | date:'MM/dd/yyyy'}}</a>
                  <popover-content #cSummary title="Claim Summary" placement="right" [animation]="true"
                    [closeOnClickOutside]="true">
                    <p><strong>Claim #</strong>: {{claimSummary.Claim_No}}, <strong>DOS</strong>:
                      {{claimSummary.DOS | date:'MM/dd/yyyy'}}, <strong>Due</strong>:
                      {{claimSummary.Amt_Due | number : '1.2' | noComma}}, <strong>Paid</strong>:
                      {{claimSummary.Amt_Paid | number : '1.2' | noComma}}, <strong>Total</strong>:
                      {{claimSummary.Claim_Total | number : '1.2' | noComma}}</p>
                  </popover-content>
                </td>
                <td>{{claim.Claim_type}}</td>
                <td>{{claim.Pri_Sec_Oth_Type === "P" ? "Primary" : claim.Pri_Sec_Oth_Type === "S" ? "Secondary" : ""}}</td>
                <td>{{claim.Payerid}}</td>
                <td>{{claim.pri_ins}}</td>
                <!-- <td>{{claim.policy_number}}</td> -->
                <td>{{claim.Provider}}</td>
                <td>{{claim.facility}}</td>
                <td>{{claim.claim_total | number : '1.2' | noComma}}</td>
                <td>{{claim.date_created | date:'MM/dd/yyyy'}}</td>
                <td>{{claim.cpt}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal inmodal" id="batchModal1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content animated fadeIn">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span ainert="true">×</span><span class="sr-only"
            (click)="resetBatchForm()">Close</span></button>
        <h5 class="modal-title">Batch Print</h5>
      </div>
      <div class="modal-body">
        <form [formGroup]="batchForm" role="form">
          <div class="row">
            <div class="radio">
              <input id="WhiteHCFA" type="radio" formControlName="type" [(ngModel)]="batchCreateViewModel.BatchType"
                value="P">
              <label for="WhiteHCFA" class="control-label col-form-label">White HCFA</label>
            </div>
          </div>
          <div class="row">
            <div class="radio">
              <input id="RedHCFA" type="radio" formControlName="type" [(ngModel)]="batchCreateViewModel.BatchType"
                value="R">
              <label for="RedHCFA" class="control-label col-form-label">Red HCFA</label>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="reset" class="btn btn-white" data-dismiss="modal" (click)="resetBatchForm()">Cancel</button>
        <button type="submit" class="btn btn-primary" (click)="printBtnClk(batchCreateViewModel.BatchType)">Print</button>
        <!-- Pass the selected BatchType to the function -->
        <button type="submit" class="btn btn-primary" (click)="CanPrint(batchCreateViewModel.BatchType)">Download</button>
      </div>
    </div>
  </div>
</div>
<div class="modal inmodal" id="batchModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content animated fadeIn">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only"
            (click)="resetBatchForm()">Close</span></button>
        <h5 class="modal-title">New Batch</h5>
      </div>
      <div class="modal-body">
        <form [formGroup]="batchForm" role="form">
          <div class="row">
            <div class="radio" *ngIf= "loggedInUser.selectedPractice.Billing_Type == 'Professional'|| loggedInUser.selectedPractice.Billing_Type == 'P&I' || loggedInUser.selectedPractice.Billing_Type == null" style="display: inline !important">
              <input id="Professional" type="radio" formControlName="type" [(ngModel)]="batchCreateViewModel.BatchType"
                value="P">
              <label for="Professional" class="control-label col-form-label">Professional</label>
            </div>
            &nbsp;
            <div class="radio" *ngIf= "loggedInUser.selectedPractice.Billing_Type == 'Institutional' || loggedInUser.selectedPractice.Billing_Type == 'P&I' || loggedInUser.selectedPractice.Billing_Type == null" style="display: inline !important">
              <input id="Institutional" type="radio" formControlName="type" [(ngModel)]="batchCreateViewModel.BatchType"
                value="I">
              <label for="Institutional" class="control-label col-form-label">Institutional</label>
            </div>
            <div class="form-group">
              <label class="control-label col-form-label">Submission Type<span class="text-danger">*</span></label>
              <ngx-select [items]="submissionTypes" optionValueField="id" optionTextField="name" [allowClear]="true"
                [formControl]="batchAddEditSubmissionControl" [(ngModel)]="batchCreateViewModel.submission_type">
              </ngx-select>
            </div>
            <div class="form-group">
              <label class="control-label col-form-label">Batch Claim Type<span class="text-danger">*</span></label>
              <ngx-select [items]="batchClaimType" optionValueField="id" optionTextField="name" [allowClear]="true"
                [formControl]="batchAddEditSubmissionTypeControl" [(ngModel)]="batchCreateViewModel.batch_claim_type">
              </ngx-select>
            </div>
            <div class="form-group">
              <label class="control-label col-form-label">Provider<span class="text-danger">*</span></label>
              <ngx-select [items]="AddUpdateBatchProviderSelectList" optionValueField="Id" optionTextField="Name"
                [allowClear]="true" [formControl]="batchAddEditProviderControl"
                [(ngModel)]="batchCreateViewModel.ProviderCode">
              </ngx-select>
            </div>
            <div class="form-group">
              <label class="control-label col-form-label">Date<span class="text-danger">*</span></label>
              <my-date-picker [options]="myDatePickerOptions" (keyup)="dateMaskGS($event)" [placeholder]="'MM/DD/YYYY'"
                (dateChanged)="onDateChange($event,'date')" formControlName="date">
              </my-date-picker>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="reset" class="btn btn-white" data-dismiss="modal" (click)="resetBatchForm()">Close</button>
        <button type="submit" class="btn btn-primary"
          [disabled]="!batchForm.valid || !batchAddEditProviderControl.valid || !batchAddEditSubmissionControl.valid || !batchAddEditSubmissionTypeControl.valid"  (click)="onSaveNewBatch()">Save</button>
      </div>
    </div>
  </div>
</div>

<div class="modal inmodal" id="addInBatchClaimModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content animated fadeIn">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only"
            (click)="resetAddInBatch()">Close</span></button>
        <h5 class="modal-title">Add In Batch</h5>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="row">
            <div class="form-group">
              <label class="control-label col-form-label">Select Provider</label>
              <ngx-select [items]="addInBatchProviderSelectList" optionValueField="Id" optionTextField="Name"
                [allowClear]="true" [(ngModel)]="AddInBatchProvider" [formControl]="AddInBatchProviderFormControl"
                (select)="resetBatchSelectList()" (remove)="resetBatchSelectList()">
              </ngx-select>
            </div>
            <div class="form-group">
              <label class="control-label col-form-label">Select Batch<span class="text-danger">*</span></label>
              <ngx-select [items]="batchesSelectList" optionValueField="Id" optionTextField="Name" [allowClear]="true"
                [formControl]="batchSelectControl" [(ngModel)]="addInBatchViewModel.BatchId">
              </ngx-select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="reset" class="btn btn-white" data-dismiss="modal" (click)="resetAddInBatch()">Close</button>
        <button type="submit" class="btn btn-primary" [disabled]="!batchSelectControl.valid"
          (click)="onAddInBatch()">Save</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="claimDetailModal" tabindex="-1" role="dialog" aria-labelledby="claimDetailModalLabel" aria-hidden="true" >
  <div class="modal-dialog modal-xlg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="claimDetailModalLabel">837 File
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="initializeTabs();closeModal();" >
            <span aria-hidden="true">&times;</span>
          </button>
        </h5>
      </div>
      <div class="modal-body">
        <div *ngIf="selType=='I'">
          <div class="panel-body">
            <textarea class="form-control" [(ngModel)]="objClaimDetail.Details" readonly rows="20" style="height: auto !important;"></textarea>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary btn-sm pull-right" (click)="Export837()">Export</button>
          </div>
        </div>
          <div *ngIf="selType=='P'" class="tabs-container">
            <ul class="nav nav-tabs">
              <li class="active" id="tab-readable">
                <a aria-expanded="true" data-toggle="tab">Readable</a>
              </li>
              <li id="tab-standard">
                <a aria-expanded="false" data-toggle="tab">Standard</a>
              </li>
            </ul>
            <div class="tab-content">
              <div id="Readable-tab-1" class="tab-pane active">
                <div *ngIf="objClaimDetail.ReadableDetailsError && objClaimDetail.ReadableDetailsError !== ''" class="panel-body">
                  <textarea class="form-control" [(ngModel)]="objClaimDetail.ReadableDetailsError" readonly rows="20" style="height: auto !important;"></textarea>
                </div>
                <div *ngIf="objClaimDetail.ReadableDetailsError ===''" class="panel-body" style="height: 600px !important;overflow-y: scroll !important;">
                  <table class="table table-hover table-striped table-bordered dataTable datatableReadable" width="100%">
                    <thead width="100%">
                      <tr width="100%">
                        <th>Segment Name</th>
                        <th>Segment Value</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of objClaimDetail.ReadableDetails;">
                        <td>{{item.name}}</td>
                        <td>{{item.value}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div id="Standard-tab-2" class="tab-pane">
                <div class="panel-body">
                  <textarea class="form-control" [(ngModel)]="objClaimDetail.Details" readonly rows="20" style="height: auto !important;"></textarea>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-primary btn-sm pull-right" (click)="Export837()">Export</button>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="modal inmodal" id="Confirmation" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div>
                    <div class="swal2-icon swal2-warning pulse-warning" style="display: block;">!</div>
                    <h2 style="text-align: center;font-weight: bolder;">Confirmation</h2>
                    <h4 style="text-align: center;">Do you want to mark the status of this batch to 'Printed'</h4>
                    <div class="text-center">
                        <button type="button" class="btn btn-primary"
                            style="background-color: #2792ea;border-color: #2792ea;" data-dismiss="modal"
                            (click)="closeInsuranceModel('Yes',batchCreateViewModel.BatchType)">Yes!</button>
                            <button type="button" class="btn btn-secondary" style="margin: 20px;" (click)="closeInsuranceModel('No',batchCreateViewModel.BatchType)">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
